@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Lalezar", sans-serif;
}
body{
    background-color: #222831;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #393E46;
    padding: 20px;
    margin: 10px;
    border-radius: 24px;
    border: solid 3px #948979;
    box-shadow: black 3px 3px 3px;
}
header h1{
    color: #ffffff;
    width: 50%;
    font-size: 48px;
    text-align: center;
}
header .list{
    width: 50%;
}
.list{
    text-align: center;
}
.list button{
    cursor: pointer;
    color: #DFD0B8;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    padding: 5px;
    border-radius: 15px;
    background-color: #948979;
    border: #DFD0B8 solid 3px;
    box-shadow: black 3px 3px 3px;
    width: 7rem;
}
.container button{
    background-color: #DFD0B8;
    border: #948979 solid 3px;
    margin-top: 10px;
    color: #948979;
}
.container{
    display: flex;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.newse , .newin , .newfn , .newsp , .newak{
    border: 2px solid #948979;
    background-color: antiquewhite;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 30px;
    border-radius: 15px;
}
 .newin:hover , .newfn:hover , .newsp:hover{
    transform: scale(1.03);
    transition: all 0.5s;
}
div img{
    width: 175px;
    border-radius: 15px;
    border: solid #393E46;
}
div a{
    color: #948979;
    text-decoration: none;
}
.newin , .newfn , .newsp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.hide{
    display: none;
}
.container p button:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
@media (max-width:425px) {
    .list button{
            width: 3.5rem;
            font-size: 14px;
            padding: 2.5px;
            border-radius: 7.5px;
            box-shadow: black 1.5px 1.5px 1.5px;
    }
    .newin , .newfn , .newsp{
        font-size: 16px;
    }
}
@media (max-width:320px) {
    .list button{
            width: 2.5rem;
            font-size: 10px;
            padding: 1.5px;
            border-radius: 5.5px;
            box-shadow: black 1px 1px 1px;
    }
    .newin , .newfn , .newsp{
        font-size: 10px;
    }
}
