@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Lalezar", sans-serif;
}
p{
    font-size: 28px;
    text-align: center;
}
body{
    background-color: #6482AD;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7FA1C3;
    padding: 20px;
    margin: 10px;
    border-radius: 24px;
    border: solid 3px #AED6CF;
    box-shadow: black 3px 3px 3px;
}
.texts h1{
    color: #ffffff;
    width: 50%;
    font-size: 32px;
    text-align: center;
    width: max-content;
}
.texts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .list{
    width: 50%;
}

.list{
    text-align: center;
}
.list button{
    cursor: pointer;
    color: #647FBC;
    font-size: 16px;
    border: 0;
    background-color: transparent;
    padding: 5px;
    border-radius: 15px;
    background-color: #AED6CF;
    border: #647FBC solid 3px;
    box-shadow: black 3px 3px 3px;
    width: 7rem;
}
.container button{
    background-color: #647FBC;
    border: #AED6CF solid 3px;
    margin-top: 10px;
    color: #AED6CF;
}
.container{
    display: flex;
    gap: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.news{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.new{
    border: 2px solid #AED6CF;
    background-color: #0ABAB5;
    padding: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 30px;
    border-radius: 15px;
}
.new:hover{
    transform: scale(1.03);
    transition: all 0.5s;
}
div img{
    width: 175px;
    border-radius: 15px;
    border: solid #7FA1C3;
}

div a{
    color: #AED6CF;
    text-decoration: none;
}
.new{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.hide{
    display: none;
}
.container p button:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
@media (max-width:425px) {
    .list button{
            width: 3.5rem;
            font-size: 14px;
            padding: 2.5px;
            border-radius: 7.5px;
            box-shadow: black 1.5px 1.5px 1.5px;
    }
    .new{
        font-size: 16px;
    }
}
@media (max-width:320px) {
    .list button{
            width: 2.5rem;
            font-size: 10px;
            padding: 1.5px;
            border-radius: 5.5px;
            box-shadow: black 1px 1px 1px;
    }
    .new{
        font-size: 10px;
    }
}
